<form class="ml-auto" action="/deleteMessage" method="POST">
    <input type="hidden" value=<%= id %> name="id">
    <button class="border bg-red-600 p-2 text-white" type="submit">Delete</button>
</form>