<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Admin page</title>
</head>
<body>
    <%- include("./partials/pageHeader") %>
    <main class="">
        <h2 class="text-center p-4 text-xl mt-8">Become admin</h2>
        <form action="/admin" method="POST" class="flex flex-col gap-4 p-4 md:w-md w-screen mx-auto my-2 shadow-lg shadow-neutral-300 rounded-md">
                <input class="border border-neutral-300 p-2.5 rounded-sm" placeholder="Secret passphrase" type="text" name="secret" id="secret" required>
                <button class="rounded-md border p-2 col-start-2 justify-self-end text-xl font-bold bg-black text-white w-full" type="submit">Join</button>
        </form>
    </main>
</body>
</html>