<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>New message</title>
</head>
<body>
    <%- include("./partials/pageHeader") %>
    <main>
        <h2>New message</h2>
        <form action="/new-message" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Enter title">
            <label for="message">Message</label>
            <textarea name="message_text" id="message"></textarea>
            <button type="submit">Add message</button>
        </form>
    </main>
</body>
</html>